@font-face {
    font-family: "recoleta";
    font-weight: 400;
    src: url("../assets/fonts/Recoleta-Regular.otf") format("opentype");
}

@font-face {
    font-family: "recoleta";
    font-weight: 600;
    src: url("../assets/fonts/Recoleta-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "recoleta";
    font-weight: 700;
    src: url("../assets/fonts/Recoleta-Bold.otf") format("opentype");
}

@font-face {
    font-family: "inter";
    font-weight: 400;
    src: url("../assets/fonts/Inter-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "inter";
    font-weight: 600;
    src: url("../assets/fonts/Inter-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "inter";
    font-weight: 700;
    src: url("../assets/fonts/Inter-Bold.ttf") format('truetype');
}