.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    background-color: white;

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: var(--main-width);
        height: 100px;
        margin: auto;
    }

    .logo, .items {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .logo {
        img {
            width: 65px;
            height: 65px;
        }

        h1 {
            margin-left: 10px;
            font-size: 32px;
            color: var(--text-color);
            font-weight: 600;
            font-family: recoleta;
        }
    }

    .items {
        font-size: 17px;

        a {
            margin: 17px 30px;
            color: var(--text-color);
            border-radius: var(--main-radius);
            cursor: pointer;
            transition: 0.2s;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 1590px) {
    .footer-container {
        .footer {
            height: 90px;
        }
    
        .logo {
            img {
                width: 58px;
                height: 58px;
            }
    
            h1 {
                margin-left: 8px;
                font-size: 28px;
            }
        }
    
        .items {
            font-size: 15px;
    
            a {
                margin: 15px 28px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer-container {
        border-top: 1.5px solid rgba(0, 0, 0, 0.2);
    
        .footer {
            height: 75px;
        }
    
        .logo {
            img {
                width: 50px;
                height: 50px;
            }
    
            h1 {
                margin-left: 6px;
                font-size: 24px;
            }
        }
    
        .items {
            font-size: 13px;
    
            a {
                margin: 5px 10px;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .footer-container {
        border-top-width: 0.5px;

        .footer {
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            height: 170px;
        }
    
        .logo {
            img {
                width: 42px;
                height: 42px;
            }
    
            h1 {
                margin-left: 5px;
                font-size: 22px;
            }
        }
    
        .items {
            font-size: 14px;
    
            a {
                margin: 5px 15px;
            }
        }
    }
}